<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" monitorInterval="30" isThreadContextMapInheritable="true">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}]-[%highlight{%-5p}]-[%green{%t}]-%magenta{%l}: %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
        <!--        <logger name="org.eclipse.jetty.server" level="INFO"/>-->
        <logger name="org.eclipse.jetty" level="ERROR"/>
        <logger name="org.eclipse.jetty" level="INFO"/>
        <logger name="io.xka.revali" level="INFO"/>
        <logger name="io.xka.revali" level="DEBUG"/>
        <logger name="io.xka.revali" level="ERROR"/>
        <logger name="io.xka.revali" level="TRACE"/>
        <!--        <logger name="org.eclipse.jetty.server" level="DEBUG"/>-->
    </Loggers>
</configuration>
